/*Bootstrap style overrides*/

body {
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/background.jpg") no-repeat fixed center;
  background-size: auto;
}

h1,h2,h3,h4,h5 {
  font-family: 'Big Shoulders Text', cursive;
}

.container-full-height {
  min-height: calc(100vh - (160px));
}

.footer {
  background-color: #f5f5f5;
}
