
<div class="card mx-auto shadow-sm bg-white rounded mt-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Create an Account</h5>
    <form  method="POST" action="/signup" >
      Username: <input type="text" name="name" title="name" class="m-1" />
      Email: <input type="text" name="email" class="m-1" aria-label="input name" />
      Password: <input type="password" name="password" class="m-1 mb-3" aria-label="input name" />

      <input class="btn btn-primary m-1" type="submit" value="Create Account">
    </form>
  </div>
</div>
