

<div class="container-fluid">
  <% if logged_in? %>
    <div class="card mx-auto mt-5 shadow-sm bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">Welcome, <%= current_user.name.upcase %></h3>
        <h4>Create a new Todo Item</h4>
        <form action="/todos" method="POST">
          <p><textarea type="text" name="title" placeholder="New Todo"></textarea></p>
          <input type="submit" value="save" />
        </form>
<!--        <a class="btn btn-primary btn-sm text-light mx-1 my-3" href="/todos/new" role="button">New ToDo</a>-->
<!--        <a class="btn btn-primary btn-sm text-light mx-1 my-3" href="/todos/delete" role="button"> Delete ToDo </a>-->
      </div>
    </div>

  <% else %>
    <div class="card mx-auto mt-5 shadow-sm bg-white rounded">
      <div class="card-body">
        <h5 class="card-title text-center">Begin Here</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>

      </div>
    </div>
  <% end %>
</div>