<div class="container-fluid">
  <% if logged_in? %>
    <div class="card mx-auto mt-5 shadow-sm bg-white rounded" style="width: 60vw;">
      <div class="card-body">
        <h5 class="card-title">Welcome, <%= current_user.name.upcase %></h5>
        <p class="card-text">todo interface here</p>
        <a class="btn btn-primary btn-sm text-light mx-1 my-3" href="/todos/new" role="button">New ToDo</a>
        <a class="btn btn-primary btn-sm text-light mx-1 my-3" href="/todos/delete" role="button"> Delete ToDo </a>
      </div>
    </div>

  <% else %>
    <div class="card mx-auto mt-5 shadow-sm bg-white rounded" style="width: 60vw;">
      <div class="card-body">
        <h5 class="card-title text-center">Begin Here</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>

      </div>
    </div>
  <% end %>
</div>