<div class="text-center">
    <% if logged_in? %>
      <div class="card mx-auto shadow-sm bg-white rounded" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button><a href="/todos/new"> Create New todo </a></button>
          <button><a href="/signout"> Sign-Out </a></button>
          <button><a href="/users/<%= current_user.id %>"> Edit-Profile </a></button>
          <button><a href="/todos"> Show-My-ToDos </a></button>
          <p>Welcome, <strong><%= current_user.name.upcase %></strong></p>
        </div>
      </div>

    <% else %>
      <div class="card mx-auto shadow-sm bg-white rounded" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Begin Here</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a class="btn btn-primary mx-2" href="/create_new" role="button">Sign-Up</a>
          <a class="btn btn-primary" href="/login" role="button">Login</a>
        </div>
      </div>
    <% end %>
</div>